{
  "environment": "development",
  "server": {
    "host": "127.0.0.1",
    "port": 4500,
    "base_path": "/v1"
  },
  "database": {
    "host": "127.0.0.1",
    "port": 27017,
    "username": "admin",
    "password": "",
    "name": "rest_api"
  },
  "api": {
    "token_secret": "token_secret",
    "ip_whitelist": ["127.0.0.1"]
  }
}
